extends layout

block content
    .row
        .col-sm-3
            h2 About page
            hr
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, nulla!
        
        .col-sm-9
            h2 With its custom template
            hr
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo autem natus, quos placeat consequuntur, quo ad non iure neque dolor ducimus ipsa labore at deserunt, laborum libero quisquam aspernatur laudantium ipsum dolorum atque omnis fuga assumenda odio nulla. Perferendis facilis nam nostrum reprehenderit ratione dolorem?